{% extends './themes/base_user.html.twig' %}

{% block title %} Suggestions - Sunu Cosaan {% endblock %}

{% block description %} Sunu Cosaan, les visages du Sénégal {% endblock %}

{% block keywords %} Sénégal, visages, ethnie, origines {% endblock %}

{% block main %} 
 <div style="background-color: #811412" class="text-white py-4 text-center mb-4">
    <h1 class="display-5" style="font-family: Georgia, serif;">Exprimez vos idées !</h1>
</div>

<div class="container">


<div class="shadow p-4 mb-4" style="background-color: #f0e6d3;">
        <h3 class="text-center my-3" style="font-family: Georgia, serif; color: #045622;">
            C'est à vous !
        </h3>
        <div class="fs-5">
            <p>Chez Sunu Cosaan, nous avons en nous l'idée de la Teranga, qui signifie le partage, l'hospitalité et surtout la solidarité. Ainsi, nous accordons beaucoup d'importance au fait que chacun puisse nous partager son avis. Comme nous sommes encore une jeune équipe, nous avons besoin de soutien de la part de notre communauté. Cet espace est donc dédié au partage des idées pour de futurs articles.</p>

        </div>
    </div>




  

  {{ form_start(suggestionForm) }}

<div class= "w-80">

<div class="my-3">
  <label for="">Prénom</label>
  {{ form_widget(suggestionForm.firstName, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
</div>

<div class="my-3">
  <label for="">Email</label>
  {{ form_widget(suggestionForm.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
</div>

<div class="my-3">
  <label for="">Suggestions</label>
  {{ form_widget(suggestionForm.content, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
</div>

  <div class="my-3 text-center">
     <input type="submit" class="btn text-white px-5" style="background-color: #a70a08" value="Envoyer">
  </div>     

  </div>
{{ form_end(suggestionForm) }}

{% include 'components/_alert.html.twig' %}

{% endblock %}