<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sunu Cosaan, les visages du Sénégal{% endblock %}</title>

    {# Favicon #}

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    {% block flag_icons %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    {% endblock %}

{% block aos %}
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
{% endblock %}
    

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body style="background-color: #F5EDE0" class="mbody">

    <nav style="background-color: #811412" class="navbar navbar-expand-lg shadow">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{path("app_visitor_welcome")}}">
    <img src="{{ asset('images/cosaan2etoiles.png') }}" alt="" width="110"></a>
            <button class="navbar-toggler"type="button"data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{{path("app_visitor_welcome")}}">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{{path("app_visitor_aboutus")}}">A propos de nous</a>
                    </li>


                  <li class="nav-item">
                    <a class="nav-link active text-white" href="{{ path('app_admin_profile') }}">Mon profil</a>
                  </li>  

                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{{path("app_visitor_blog_index")}}">Blog</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{{ path('app_contact') }}">
                        Contactez-moi
                        </a>
                    </li>
                  
                    
                </ul>

                <ul class="navbar-nav ms-auto">
              

                {% if is_granted('ROLE_ADMIN') %}
                   <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_admin_home")}}">Espace admin</a>
                    </li> 
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                   <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_user_home")}}">Espace privé</a>
                    </li> 
                {% endif %}
            
                     
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_logout")}}">Déconnexion</a>
                     </li> 
                     
        
                   
                
                     

               
   
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer style="background-color: #045622" class="text-center">
        <p class='text-white'>Sénégal Rekk <span class="fi fi-sn"></span></p>
    </footer>

</body>
</html>