<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sunu Cosaan, les visages du Sénégal{% endblock %}</title>

    {# Favicon #}

    <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}">
    <link rel="apple-touch-icon" sizes="180x180" href={{ asset("apple-touch-icon.png") }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ asset("favicon-32x32.png") }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ asset("favicon-16x16.png") }}>
    <link rel="manifest" href={{ asset("site.webmanifest") }}>
    

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body style="background-color: #F5EDE0" class="mbody">
 
    
    <nav class="navbar navbar-expand-lg bg-success shadow">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{path("app_visitor_welcome")}}">
    <img src="{{ asset('images/sunucosaan2.png') }}" alt="" width="110">
                </a>



            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">

                        

                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{{path("app_visitor_welcome")}}">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_visitor_aboutus")}}">A propos de nous</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_visitor_blog_index")}}">Blog</a>
                    </li>

                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_visitor_suggestion_index') }}">
                        Vos suggestions
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>

                <ul class="navbar-nav ms-auto">

                {% if app.user %}

                <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_logout")}}">Déconnexion</a>
                    </li> 

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_login")}}">Se connecter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_register")}}">S'inscrire</a>
                    </li>

                {% endif %}
   
                </ul>
            </div>
        </div>
    </nav>

    
   <main>
   {% block body %} {% endblock %}
   </main>
 
    
    <footer class="text-center bg-danger">
       <p class='text-white'>Sénégal Rekk</p>
    </footer>

</body>
</html>
