{% extends './themes/base_admin.html.twig' %}


{% block main %}
<div style="background-color: #811412" class="text-white py-4 text-center">
    <h1 class="display-5" style="font-family: Georgia, serif;">Commentaires</h1>
</div>

<div class="container my-4">
    {% if comments is empty %}
        <p class="text-center">Aucun commentaire pour le moment.</p>
    {% else %}
    <table class="table table-striped table-bordered">
        <thead style="background-color: #811412" class="text-white">
            <tr>
                <th>#</th>
                <th>Auteur</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user.firstName }} {{ comment.user.lastName }}</td>
                <td>{{ comment.post.title }}</td>
                <td>{{ comment.content|slice(0, 80) }}{% if comment.content|length > 80 %}...{% endif %}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('d/m/Y H:i') : '-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}